<ul>
    {% for instrument in instruments %}
        <li>
            <a href="{{ path('app_instrument_show', {'id': instrument.id}) }}">
                {{ instrument.name }}
            </a>
        </li>
    {% endfor %}
</ul>